<div class="container">
  <h2>Latest</h2>
  <span class="people_dropdown">People</span>
  <span class="term_dropdown">Terms</span>

  <!-- TODO: Implement ngfor to loop through results of API to create each row dynamically with data binding-->
  <div class="row">
    <div class="col-md-4">
      <a href = "#" class = "thumbnail">
        <img src = "https://files.asset.tv/live/s3fs-public/images/1542644494973_6524_InstMC_Grab.jpg" alt = "Video thumbnail">
     </a>
     <p>Fiduciary Management | Institutional Masterclass</p>
     <p>November 19, 2018</p>
    </div>
    
    <div class="col-md-4">
        <a href = "#" class = "thumbnail">
          <img src = "https://files.asset.tv/live/s3fs-public/images/1542644494973_6524_InstMC_Grab.jpg" alt = "Video thumbnail">
      </a>
      <p>Fiduciary Management | Institutional Masterclass</p>
      <p>November 19, 2018</p>
    </div>

    <div class="col-md-4">
        <a href = "#" class = "thumbnail">
          <img src = "https://files.asset.tv/live/s3fs-public/images/1542644494973_6524_InstMC_Grab.jpg" alt = "Video thumbnail">
      </a>
      <p>Fiduciary Management | Institutional Masterclass</p>
      <p>November 19, 2018</p>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <a href = "#" class = "thumbnail">
          <img src = "https://files.asset.tv/live/s3fs-public/images/1542644494973_6524_InstMC_Grab.jpg" alt = "Video thumbnail">
       </a>
       <p>Fiduciary Management | Institutional Masterclass</p>
       <p>November 19, 2018</p>
      </div>
      
      <div class="col-md-4">
          <a href = "#" class = "thumbnail">
            <img src = "https://files.asset.tv/live/s3fs-public/images/1542644494973_6524_InstMC_Grab.jpg" alt = "Video thumbnail">
        </a>
        <p>Fiduciary Management | Institutional Masterclass</p>
        <p>November 19, 2018</p>
      </div>
  
      <div class="col-md-4">
          <a href = "#" class = "thumbnail">
            <img src = "https://files.asset.tv/live/s3fs-public/images/1542644494973_6524_InstMC_Grab.jpg" alt = "Video thumbnail">
        </a>
        <p>Fiduciary Management | Institutional Masterclass</p>
        <p>November 19, 2018</p>
      </div>
    </div>

</div>
