header {
    background-image: url(https://files.asset.tv/live/s3fs-public/channel/untitled-17.png);
    background-size: cover;
    padding-left: 30px;
    height: 165px;
}

.nav-item {
    background-color: #F2F9FD;
    min-width: 134px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin-right: 1px;
    border-color: transparent;
    padding: 3px;
    font-weight: normal;
    font-size: 15px;
    opacity: 0.8;

    a {
        color: #2f2f2f;
    }
}